[submodule "linux/zsh/fzf-tab-completion"]
	path = linux/zsh/fzf-tab-completion
	url = https://github.com/lincheney/fzf-tab-completion.git
[submodule "cross-platform/wordlists"]
	path = cross-platform/wordlists
	url = https://github.com/danielmiessler/SecLists.git
