[submodule "wordlists"]
	path = configs/wordlists
	url = https://github.com/danielmiessler/SecLists.git
[submodule "fzf-tab-completion"]
	path = configs/zsh/fzf-tab-completion
	url = https://github.com/lincheney/fzf-tab-completion.git
