// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$fg-color: #{"@theme_fg_color"};
$bg-color: #{"@theme_bg_color"};

@function transparent($color, $alpha) {
  @return unquote("alpha(#{$color}, #{$alpha})");
}

button {
  background: transparent($fg-color, 0.1);
  backdrop-filter: blur(16px);
  border: 1px solid transparent($fg-color, 0.3);
  border-radius: 4px;
  margin: 2px;
  padding: 8px;
  transition: all 256ms ease-in-out;

  &:hover {
    cursor: pointer;
    background: transparent($fg-color, 0.2);
  }
}

image {
  margin: 4px 0px;
}

label {
  font-weight: bold;
}

window.Bar {
  background: transparent;
  color: $fg-color;
  font-weight: bold;
  padding: 8px 0px;
  padding-left: 4px;

  > centerbox {
    background: transparent;
  }
}

window.Bar#top-bar {
  padding: 4px 8px;
}

window.Popup {
  color: $fg-color;

  > box {
    background-color: $bg-color;
    padding: 8px;
    border-radius: 8px;
  }
}

window#calendar > box {
  > label {
    margin-bottom: 4px;
  }

  calendar.view label {
    font-weight: normal;
  }
}

window#launcher {
  background: transparent;

  image {
    margin-right: 16px;
  }
}

window#control-panel image {
  margin-right: 16px;
}
