// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$fg-color: #{"@theme_fg_color"};
$bg-color: #{"@theme_bg_color"};

window.Bar {
  background: transparent;
  color: $fg-color;
  font-weight: bold;
  padding: 8px 0px;
  padding-left: 4px;

  > centerbox {
    background: transparent;
  }

  button {
    border-radius: 4px;
    margin: 2px;
    padding: 8px;
  }
  
  image {
    margin: 4px 0px;
  }
}
