@import "./colors.scss";
@import "./notifications.scss";

* {
    font-size: 12px;
    transition: all 128ms ease;
    color: $foreground;
}

.bar {
    background: none;
}

.left,
.center,
.right {
    margin: 4px;
    margin-bottom: 0;
}

.container {
    background-color: $background;
    border-radius: 4px;
    padding: 0 8px;
}

.button {
    border-radius: 4px;
    border-width: 0;
    padding: 0 4px;
    margin: 4px;
}

.button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.workspaces > * {
    background-color: rgba(255, 255, 255, 0);
}

.workspaces .focused.focused {
    background-color: rgba(255, 255, 255, 0.2);
}

.container.button {
    margin: 0;
    padding: 4px 8px;
}

.sys-tray .container.button {
    margin: 0 4px;
}
